<footer class="footer">
  <div class="registration" id="callback">
    <div class="registration-container">
      <div class="footer-title">
        <h2>
          Регистрация на<strong class="footer-accent"> бесплатную</strong> JS
          <strong class="footer-accent">тусовку </strong> по помощи с <span class="crossed">котом</span> <span
            class="footer-accent">кодом</span>
        </h2>
      </div>
      <form method="POST" class="footer-form" autocomplete="off">
        <b class="footer-text">
          Кидай лапку на участие в <span class="footer-accent"> бесплатном catканале. </span> <br />
          С тобой свяжется <span class="footer-accent">муррр</span>-менеджер и ответит на все твои вопросы
        </b>
        <label class="form-field name">
          <input type="text" name="name" class="modal-input" placeholder="Приложи лапку&ast;" aria-label="Впишите имя"
            required />
        </label>
        <label class="form-field">
          <input type="tel" name="tel" class="modal-input" placeholder="Ткни носиком&ast;"
            aria-label="Впишите номер телефона" required />
        </label>
        <button type="submit" aria-label="Кнопка отправки" class="footer-button btn">
          <span>хочу в крутяшную тусовку</span>
        </button>
      </form>
    </div>
  </div>
  <div class="contacts container" id="contact">
    <div class="footer-logo-position">
      <a href="#top" aria-label="Логотип компании" class="footer-logo">
        <img src="./images/logo/catlogo-b.png" alt="" />
      </a>
    </div>
    <div class="footer-links">
      <a href="tel:+380000000000" aria-label="Телефон компании" class="tel link">
        <svg aria-label="иконка звонка" class="icon">
          <use href="./images/icons/symbol-defs.svg#phone"></use>
        </svg>
        +380 (000) 000 00 00
      </a>
      <a href="#" aria-label="Ссылка на инстаграм" class="insta link"></a>
    </div>
  </div>
  <div class="rights">
    <div class="copyright-cont container">
      <p class="rights-text">&copy; Все права защищены, 2020</p>
      <p class="footer-accent copyright">30 Paddings to Mars</p>
    </div>
  </div>
</footer>