<!-- Секция с описанием гарантий после обучения -->

<section class="guaranties-section">
  <div class="guaranties container">
    <h2 class="guaranties-section-title">Мы гарантируем</h2>
  </div>
  <div class="guaranties-wrap container">
    <ul class="guaranties-list">
      <li class="guaranties-item">
        Ты будешь уверенно проходить Kahoot-ы на максимальное количество баллов
        из возможных, при этом понимая теорию, а не просто рандомно выбирая
        варианты ответов. Мы вернем тебе веру в свои силы!<span
          class="guaranties-asterisk"
          >*</span
        >
      </li>
      <li class="guaranties-item">
        Ты научишься писать код действенным и корректным способом.
        <span class="guaranties accent-element"
          >И при этом ты будешь чувствовать и понимать дизайнера и заказчика.
        </span>
      </li>
      <li class="guaranties-item">
        Ты будешь участвовать как в индивидуальных, так и командных проектах. Ты
        почувствуешь мощь коддинга вместя со своей командой - это будет нечто!.
      </li>
      <li class="guaranties-item">
        Команды будут сформированы, исходя из разного уровня учеников. Ты
        научишься работать в синерии и учитывать особенности каждого члена своей
        команды.
      </li>
    </ul>
  </div>
</section>
