<header id="top">
  <div class="container">
    <div class="section-header">
      <a href="#top">
        <img src="./images/logo/catlogo-b.png" alt="" class="logo-cat" />
      </a>
      <nav class="menu-nav" burger-menu>
        <div class="modal">
          <div class="subheader-position">
            <img src="./images/logo/catlogo-v.png" alt="" class="logo-cat" />
            <button
              type="button"
              class="menu-close"
              aria-label="закрыть бургер-меню"
              burger-menu-close
            ></button>
          </div>
          <ul class="menu-list list">
            <li>
              <a href="#program" class="menu-item" link1>
                Программа обучения
              </a>
            </li>
            <li><a href="#teacher-sec" class="menu-item" link2> О нас </a></li>
            <li>
              <a href="#solving" class="menu-item" link3> Варианты обучения </a>
            </li>
            <li><a href="#contact" class="menu-item" link4> Контакты </a></li>
          </ul>
          <a href="#callback" class="modal-button btn" link5
            >консультация по телефону</a
          >
        </div>
      </nav>

      <a href="#callback" class="header-button btn">консультация по телефону</a>

      <button
        type="button"
        class="menu-open"
        aria-label="открыть бургер-меню"
        burger-menu-open
      ></button>
    </div>
    <section class="section-hero">
      <div class="hero-title">
        <h1 class="main-title">Был котик - стал задротик</h1>
        <div class="hero-label">
          <p class="label-grey">Курс FrontEnd Dev для котиков</p>
          <p class="label-black">Приготовь лапки.</p>
          <p class="label-accent">Будет Горячо.</p>
        </div>
        <a
          href="#callback"
          class="hero-btn btn"
          aria-label="подписка на бесплатное занятие"
          >хочу на бесплатное занятие</a
        >
      </div>
      <img src="./images/hero/trinka-cat-min.png" alt="" class="hero-img" />
      <ul class="hero-features list">
        <li class="item">
          <p class="description">Адаптированная авторская программа</p>
        </li>
        <li class="item">
          <p class="description">
            Современные <br />
            методики обучения
          </p>
        </li>
        <li class="item">
          <p class="description">Финансовая гарантия результата</p>
        </li>
      </ul>
    </section>
  </div>
</header>
