<!-- Секция с описанием проблем учеников-->
<section class="section-problems">
  <div class="container">
    <div class="problems-title-wrap">
      <h2 class="title">
        Главные проблемы
        <span class="problems line-break">учеников</span>
        <span class="problems line-break">на English ВНО,</span>
        <span class="problems line-break">которые</span>
        <span class="problems line-break"
          >мы <span class="problems accent-element">помогаем</span> решить</span
        >
      </h2>
    </div>
    <div class="overlay-container">
      <ul class="problems list">
        <li class="problems-item">
          <div class="dashnumber-wrap">
          <span class="problems-dash">—<span><span class="problems-number"> 01</span>
        </div>
          <h3 class="problems-subtitle">Незнание грамматики</h3>
        </li>
        <li class="problems-item">
          <div class="dashnumber-wrap">
          <span class="problems-dash">—<span><span class="problems-number"> 02</span> 
          </div>
          <h3 class="problems-subtitle">
            Неумение воспринимать <span class="line-break">устную английскую речь</span>
          </h3>
        </li>
        <li class="problems-item">
          <div class="dashnumber-wrap">
          <span class="problems-dash">—</span><span class="problems-number"> 03</span>
          </div>
          <h3 class="problems-subtitle">
            Скупой словарный запас
            <span class="line-break">для написания сочинения</span>
          </h3>
        </li>
        <li class="problems-item">
          <div class="dashnumber-wrap">
          <span class="problems-dash">—<span><span class="problems-number"> 04</span>
          </div>
        <h3 class="problems-subtitle">
            Подготовка в <span class="line-break">одиночку</span>
          </h3>
        </li>
        <li class="problems-item">
          <div class="dashnumber-wrap">
          <span class="problems-dash">—<span><span class="problems-number"> 05</span>
          </div>
          <h3 class="problems-subtitle">
            Отсутствие единого <span class="line-break">ресурса знаний</span>
          </h3>
        </li>
        <li class="problems-item">
          <div class="dashnumber-wrap">
          <span class="problems-dash">—<span><span class="problems-number"> 06</span>
          </div>
          <h3 class="problems-subtitle">
            Недостаточная <span class="line-break">самоорганизации и лень</span>
          </h3>
        </li>
      </ul>
    </div>
  </div>
</section>
