<section class="program-section">
  <span class="program-line-desktop"></span>
  <div class="container">
    <h2 class="program-section-title" id="program">Наша программа</h2>

    <ul class="list program-section-list">
      <li class="program-section-list-item">
        <h3 class="program-semestr">
          <span class="program-semestr-number">1</span> семестр
        </h3>
        <ul class="list semester-list">
          <li class="semestr-list-item">
            <h4 class="program-semestr-sub">— Grammar</h4>
            <p class="program-semestr-text">Nouns & Articles</p>
            <p class="program-semestr-text">Adjectives & Adverb</p>
          </li>
          <li class="semestr-list-item">
            <h4 class="program-semestr-sub">— Vocabulary</h4>
            <p class="program-semestr-text">Family & Relations</p>
            <p class="program-semestr-text">People & Society</p>
          </li>
        </ul>
      </li>
      <li class="program-section-list-item">
        <h3 class="program-semestr">
          <span class="program-semestr-number">2</span> семестр
        </h3>
        <ul class="list semester-list">
          <li class="semestr-list-item">
            <h4 class="program-semestr-sub">— Grammar</h4>
            <p class="program-semestr-text">Pronouns</p>
            <p class="program-semestr-text">Active Voice</p>
            <p class="program-semestr-text">Passive Voice</p>
          </li>
          <li class="semestr-list-item">
            <h4 class="program-semestr-sub">— Vocabulary</h4>
            <p class="program-semestr-text">Home</p>
            <p class="program-semestr-text">School</p>
            <p class="program-semestr-text">Work</p>
          </li>
        </ul>
      </li>
      <li class="program-section-list-item">
        <h3 class="program-semestr">
          <span class="program-semestr-number">3</span> семестр
        </h3>
        <ul class="list semester-list">
          <li class="semestr-list-item">
            <h4 class="program-semestr-sub">— Grammar</h4>
            <p class="program-semestr-text">Modal Verbs</p>
            <p class="program-semestr-text">Infinitive</p>
            <p class="program-semestr-text">Gerund</p>
            <p class="program-semestr-text">Participle: 1, 2</p>
          </li>
          <li class="semestr-list-item">
            <h4 class="program-semestr-sub">— Vocabulary</h4>
            <p class="program-semestr-text">Travel & Tourism</p>
            <p class="program-semestr-text">Culture & Free Time</p>
            <p class="program-semestr-text">Sport</p>
          </li>
          <li class="semestr-list-item">
            <h4 class="program-semestr-sub">— Writing</h4>
            <p class="program-semestr-text">Informal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program-section-list-item">
        <h3 class="program-semestr">
          <span class="program-semestr-number">4</span> семестр
        </h3>
        <ul class="list semester-list">
          <li class="semestr-list-item">
            <h4 class="program-semestr-sub">— Grammar</h4>
            <p class="program-semestr-text">Clauses: Conditional and Wishes</p>
            <p class="program-semestr-text">Direct / Reported speech</p>
            <p class="program-semestr-text">Preposition</p>
            <p class="program-semestr-text">Conjunction</p>
            <p class="program-semestr-text">Numeral</p>
          </li>
          <li class="semestr-list-item">
            <h4 class="program-semestr-sub">— Vocabulary</h4>
            <p class="program-semestr-text">Healthy Living</p>
            <p class="program-semestr-text">Nature & Environment</p>
            <p class="program-semestr-text">Money</p>
          </li>
          <li class="semestr-list-item">
            <h4 class="program-semestr-sub">— Writing</h4>
            <p class="program-semestr-text">Formal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program-section-list-item">
        <h3 class="program-semestr">
          <span class="program-semestr-number">5</span> семестр
        </h3>

        <ul class="list semester-list">
          <li class="semestr-list-item">
            <p class="program-semestr-sub">—</p>
            <p class="program-semestr-text">Revision</p>
            <p class="program-semestr-text">Tests</p>
          </li>
        </ul>
      </li>
    </ul>
    <h2 class="program-section-title choose-us">Почему нас выбирают</h2>
    <div class="program-choose-us-block"></div>
    <div class="program-section-image">
      <picture>
        <source
          srcset="
            ./images/program-section-bg-pic-1344.webp    1x,
            ./images/program-section-bg-pic-1344-2x.webp 2x
          "
          media="(min-width: 1344px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/program-section-bg-pic-768.webp    1x,
            ./images/program-section-bg-pic-768-2x.webp 2x
          "
          media="(min-width: 576px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/program-section-bg-pic-mobile.webp    1x,
            ./images/program-section-bg-pic-mobile-2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/program-section-bg-pic-1344.jpg     1x,
            ./images//program-section-bg-pic-1344-2x.jpg 2x
          "
          media="(min-width: 1344px)"
        />
        <source
          srcset="
            ./images/program-section-bg-pic-768.jpg     1x,
            ./images//program-section-bg-pic-768-2x.jpg 2x
          "
          media="(min-width: 576px)"
        />
        <source
          srcset="
            ./images/program-section-bg-pic-mobile.jpg     1x,
            ./images//program-section-bg-pic-mobile-2x.jpg 2x
          "
        />
        <img
          src="./images/program-section-bg-pic-1344.jpg"
          alt="программа обучения"
        />
      </picture>
    </div>

    <div class="choose-us-container">
      <ul class="choose-us-list list">
        <li class="choose-us-item">
          <p class="choose-us-number">— 01</p>
          <h3 class="choose-us-subtitle">
            <span class="choose-us-text-span">Обучение в малых командах</span>
          </h3>
        </li>
        <li class="choose-us-item">
          <p class="choose-us-number">— 02</p>
          <h3 class="choose-us-subtitle">
            <span class="choose-us-text-span">Визуализированные конспекты</span>
          </h3>
        </li>
        <li class="choose-us-item">
          <p class="choose-us-number">— 03</p>
          <h3 class="choose-us-subtitle">
            <span class="choose-us-text-span"
              >Каждое занятие имеет цель и конкретный результат</span
            >
          </h3>
        </li>
        <li class="choose-us-item">
          <p class="choose-us-number">— 04</p>
          <h3 class="choose-us-subtitle">
            <span class="choose-us-text-span"
              >Реальные результаты преподавателя</span
            >
          </h3>
        </li>
        <li class="choose-us-item">
          <p class="choose-us-number">— 05</p>
          <h3 class="choose-us-subtitle">
            <span class="choose-us-text-span"
              >Программа курса соответствует требованиям МОН Украины</span
            >
          </h3>
        </li>
        <li class="choose-us-item">
          <p class="choose-us-number">— 06</p>
          <h3 class="choose-us-subtitle">
            <span class="choose-us-text-span"
              >Набор команд по уровням знаний</span
            >
          </h3>
        </li>
      </ul>
    </div>
  </div>
</section>
