<section class="reviews-section" id="review">
  <h2 class="reviews-title">Наші Dev Коти</h2>
  <h2 class="reviews-title-tablet">Наші Дев Коти</h2>
  <div class="container">
    <div class="slider">
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat2.png"
            alt="photo our client"
          />

          <a href="https://github.com/Huracan22505" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">HURACÁN</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            За короткий час занять з Оленою я опанувала граматику і поповнила
            свій зовсім пустий словниковий запас. З першого ж заняття я
            зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
            тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити
            найменшу помилку. Зараз я можу похизуватись тим, що я студентка на
            бюджеті: завдяки Олені я змогла пройти цей непростий конкурс.
            Провчившись тільки рік, я отримала безліч зустрічей з представниками
            з Америки і країн Європи. Дякую долі, яка подарувала мені
            справжнього вчителя!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat1.png"
            alt="photo our client"
          />

          <a href="https://github.com/Yuliya-Che" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Yuliya-Che</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Навіть після першого заняття з Оленою, я зрозуміла, що це дійсно
            кваліфікований та неперевершений репетитор. Крім того, що вона
            володіє потрібними знаннями, вона вміло використовує їх і навчає
            цьому інших. Заняття з Оленою відрізняються цікавим поданням та
            приємною атмосферою, що сприяє кращому сприйманню нової інформації.
            Я з впевненістю рекомендую Олену, в якості репетитора з англійської
            мови, адже вона цілком цього заслуговує. Дякую за кожне проведене
            заняття!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat3.png"
            alt="photo our client"
          />

          <a href="https://github.com/mhodunov" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Maksym Hodunov</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Олена, як репетитор моїми очима така: організована, привітна, має
            хорошу дикцію. Вимоглива щодо пройденого матеріалу і терпляча щодо
            його повторення і використання в розмовній мові. На мої запитання її
            відповіді однозначні, конкретні. Рекомендую саме до неї звернутись
            за допомогою при вивченні англійської. А я надіюсь на хороший
            результат (ми на початку шляху - лише кілька занять), бо спілкування
            динамічне, комфортне і продуктивне!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat4.png"
            alt="photo our client"
          />
          <a href="https://github.com/Marinessa393" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Marinessa</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            За короткий час занять з Оленою я опанувала граматику і поповнила
            свій зовсім пустий словниковий запас. З першого ж заняття я
            зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
            тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити
            найменшу помилку. Зараз я можу похизуватись тим, що я студентка на
            бюджеті: завдяки Олені я змогла пройти цей непростий конкурс.
            Провчившись тільки рік, я отримала безліч зустрічей з представниками
            з Америки і країн Європи. Дякую долі, яка подарувала мені
            справжнього вчителя!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat6.png"
            alt="photo our client"
          />
          <a href="https://github.com/Feride-Sham" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Ferika</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Олена, як репетитор моїми очима така: організована, привітна, має
            хорошу дикцію. Вимоглива щодо пройденого матеріалу і терпляча щодо
            його повторення і використання в розмовній мові. На мої запитання її
            відповіді однозначні, конкретні. Рекомендую саме до неї звернутись
            за допомогою при вивченні англійської. А я надіюсь на хороший
            результат (ми на початку шляху - лише кілька занять), бо спілкування
            динамічне, комфортне і продуктивне!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat7.png"
            alt="photo our client"
          />
          <a href="https://github.com/Tat-Obmetitsa" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Trinka</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Олена, як репетитор моїми очима така: організована, привітна, має
            хорошу дикцію. Вимоглива щодо пройденого матеріалу і терпляча щодо
            його повторення і використання в розмовній мові. На мої запитання її
            відповіді однозначні, конкретні. Рекомендую саме до неї звернутись
            за допомогою при вивченні англійської. А я надіюсь на хороший
            результат (ми на початку шляху - лише кілька занять), бо спілкування
            динамічне, комфортне і продуктивне!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat8.png"
            alt="photo our client"
          />
          <a href="https://github.com/yaroslav-uaa" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Yaroslav_Ua</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Олена, як репетитор моїми очима така: організована, привітна, має
            хорошу дикцію. Вимоглива щодо пройденого матеріалу і терпляча щодо
            його повторення і використання в розмовній мові. На мої запитання її
            відповіді однозначні, конкретні. Рекомендую саме до неї звернутись
            за допомогою при вивченні англійської. А я надіюсь на хороший
            результат (ми на початку шляху - лише кілька занять), бо спілкування
            динамічне, комфортне і продуктивне!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
