<section class="reviews-section" id="review">
  <h2 class="reviews-title">Наши DevКотики</h2>
  <h2 class="reviews-title-tablet">Наши DevКотики</h2>
  <div class="container">
    <div class="slider">
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat2.png"
            alt="photo our client"
          />
          <a href="https://github.com/Huracan22505" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">HURACÁN</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Наш таємничий котик-тімлід як справжній Тор зібрав у команду 6
            супер-котиків та надихнув на роботу у проекті за принципом
            bootcamp-у. Чіткий розподіл дедлайнів, discord-зльоти та оперативне
            вирішення питань, ніхто не залишився без уваги. Хто ми -
            суперкотики, чого ми прагнемо - кодити, що ми хочемо отримати -
            класний сайт! Погнали!!! This is SPARTA!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat1.png"
            alt="photo our client"
          />
          <a href="https://github.com/Yuliya-Che" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Yuliya-Che</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Наш скрам-майстер не дасть тобі забути про свої завдання. Як кращий
            спец-агент розкладе все по картках в Trello! Блискавично пробіжить
            по твоєму сайтику і майстерно вкаже на недоліки. Вона, як права
            лапка тім-ліда, завжди підтримає тебе!! Тримати хвостики пістолетом,
            а носики за вітром! Вперед! І не забуваємо, що iPhone X розсекретить
            усі flaws вашого сайту. Не відображається пунктир на 1.35px, вийшов
            placeholder за межі форми - мерщій фіксіть, на ios все вспливе!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat4.png"
            alt="photo our client"
          />
          <a href="https://github.com/Marinessa393" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Marinessa</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Богиня коду! Дай їй "хвилиночку" і вона вирішить будь-яку проблему!
            Махнувши хвостиком, пофіксить всі твої помилки в два рахунки!
            Perfect-pixel - Марінесса досліджує вашу сторінку і знайде все, що
            стоїть не так і має не таку форму, як в макеті.Вас переконливо
            попросять ще раз вивчити макет, а потім ще, і ще... Краще не чиніть
            опір!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat6.png"
            alt="photo our client"
          />
          <a href="https://github.com/Feride-Sham" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Ferika</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Wonder-woman котокоманди завжди за раціональний підхід до вирішення
            питань. Виважена, чітко сформована думка околисує вас спокоєм та
            надихає на дзен. Феріка-вандервумен йде на компроміс, проте легко
            пояснить та захистить свою точку зору, що неможливо не погодитися із
            запропонованою опцією або рішенням. Справжній wonder-шарм!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat7.png"
            alt="photo our client"
          />
          <a href="https://github.com/Tat-Obmetitsa" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Trinka</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Наша супер котолучниця! Кнопочкою прямо у серденько - ох, який
            ховер! Гостра на слівце, але все по ділу - відразу повертає тебе до
            реальності та розумієш, як потрібно підходити до роботи. Вас
            зареєструє, оформить контактікі, все легко, як лапкою пухнастою
            проведено. Всю важливу інфу для контактів ви можете довірите нашій
            Trinka-лучниці! Прямо у "кокоро"))
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat8.png"
            alt="photo our client"
          />
          <a href="https://github.com/yaroslav-uaa" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Yaroslav_Ua</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Бог слайдера і підкорювач JS. Швидкий як куля, гострий на слово! І
            при цьому розвеселить всю кото-тусовку) Він володіє всіма
            інструментами розробника і знайде вихід з безвихідної ситуації.
            Військова підготовка дає про себе знати: пообіцяв - зробив! Вночі -
            легко! Нікого не підведе! Честь маю!))
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
