<section class="reviews-section" id="review">
  <h2 class="reviews-title">Наші Dev Коти</h2>
  <h2 class="reviews-title-tablet">Наші Дев Коти</h2>
  <div class="container">
    <div class="slider">
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat2.png"
            alt="photo our client"
          />

          <a href="https://github.com/Huracan22505" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">HURACÁN</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Наш таємничий котик-тімлід як справжній Тор зібрав у команду 6
            супер-котиків та надихнув на роботу у проекті за принципом
            bootcamp-у. Чіткий розподіл дедлайнів, discord-зльоти та оперативне
            вирішення питань, ніхто не залишився без уваги. Хто ми -
            суперкотики, чого ми прагнемо - кодити, що ми хочемо отримати -
            класний сайт! Погнали!!! This is SPARTA!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat1.png"
            alt="photo our client"
          />

          <a href="https://github.com/Yuliya-Che" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Yuliya-Che</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Наш скрам-мастер не даст тебе забыть о своих задачах. Как лучший
            спец-агент разложит все по карточкам в Trello! Молниеносно
            пробежится по твоему сайтику и мастерски укажет на недочеты. Она,
            как правая лапка тим-лида, всегда поддержит тебя!! Держать хвосты
            пистолетом, а носики по ветру! Вперед! И не забываем, что iPhone X
            рассекретит все flaws вашего сайта. Не отображается пунктир на
            1.35px, вышел placeholder за пределы формы - фиксить, на ios все
            всплывет!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat3.png"
            alt="photo our client"
          />

          <a href="https://github.com/mhodunov" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Maksym Hodunov</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Його ви не побачите вживу, проте деколи таки почуєте та отримаєте
            влучні поради. Макс Iron-Man працює в стелс режимі, а потім залітає
            на GitHub з ідеальною розміткою та стилізацією та рятує секції від
            хиткого позіціонування (абсолют - амінь!). Если ты хочешь без лишних
            слов получить мощный iron-меновский код, то тебе к Максиму. Жестко,
            быстро и качественно - вот его сила! Web-технологии покоряются его
            лапкам с первых секунд!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat4.png"
            alt="photo our client"
          />
          <a href="https://github.com/Marinessa393" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Marinessa</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Богиня кода! Дай ей "хвилиночку" и она решит любую проблему! Махнув
            хвостиком пофиксить все твои ошибки в два счета! Perfect-pixel -
            Маринесса исследует вашу страничку и найдет, что стоит не так как в
            макете, глаз-алмаз, никак не иначе! Вас настоятельно попросят
            изучить макет еще раз, если позиционирование не такое, как в макете.
            Лучше не сопротивляйтесь!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat6.png"
            alt="photo our client"
          />
          <a href="https://github.com/Feride-Sham" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Ferika</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Wonder-woman котокоманди завжди за раціональний підхід до вирішення
            питань. Виважена, чітко сформована думка околисують вас спокоєм та
            надихають на дзен. Феріка-вандервумен йде на компроміс, проте легко
            пояснить та захистить свою точку зору, що неможлиов не погодитися із
            запропонованою опцією або рішенням. Справжній wonder-шарм!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat7.png"
            alt="photo our client"
          />
          <a href="https://github.com/Tat-Obmetitsa" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Trinka</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Олена, як репетитор моїми очима така: організована, привітна, має
            хорошу дикцію. Вимоглива щодо пройденого матеріалу і терпляча щодо
            його повторення і використання в розмовній мові. На мої запитання її
            відповіді однозначні, конкретні. Рекомендую саме до неї звернутись
            за допомогою при вивченні англійської. А я надіюсь на хороший
            результат (ми на початку шляху - лише кілька занять), бо спілкування
            динамічне, комфортне і продуктивне!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
      <div class="slider_item">
        <div class="our_client">
          <img
            class="client-photo"
            src="/images/reviews/cat8.png"
            alt="photo our client"
          />
          <a href="https://github.com/yaroslav-uaa" class="social-link"
            ><svg class="social-icon">
              <use href="/images/reviews/symbol-defs.svg#github"></use>
            </svg>
          </a>
        </div>
        <div class="info_our_client">
          <p class="client_name">Yaroslav_Ua</p>
          <p class="client_grades">Dev котікі - задротікі))))</p>
          <p class="client_feedback" text-hidden>
            Олена, як репетитор моїми очима така: організована, привітна, має
            хорошу дикцію. Вимоглива щодо пройденого матеріалу і терпляча щодо
            його повторення і використання в розмовній мові. На мої запитання її
            відповіді однозначні, конкретні. Рекомендую саме до неї звернутись
            за допомогою при вивченні англійської. А я надіюсь на хороший
            результат (ми на початку шляху - лише кілька занять), бо спілкування
            динамічне, комфортне і продуктивне!
          </p>
          <button
            type="button"
            class="hidden-button"
            aria-expanded="true"
            text-hidden-button
          >
            Читати далі
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
