<section class="section-solving">
  <div class="container">
    <h2 class="tittle" id="skills">Навыки</h2>
    <p class="solving-label">Мы расскажем тебе как:</p>
    <ul class="solving-list list">
      <li class="item">
        <img src="./images/skills/devcat07.png" alt="" class="solving-img" />
        <h3 class="tittle">Видеть различия</h3>
        <span class="decoration">—</span>
        <p class="text">Ты будешь отличать 1рх от 1.35рх с одного взгляда.</p>
      </li>
      <li class="item">
        <img src="./images/skills/devcat09.png" alt="" class="solving-img" />
        <h3 class="tittle">Делать магию</h3>
        <span class="decoration">—</span>
        <p class="text">
          Твоим умениям делать переходы и анимации позавидует любой котик.
        </p>
      </li>
      <li class="item">
        <img src="./images/skills/devcat03.png" alt="" class="solving-img" />
        <h3 class="tittle">Искать решения</h3>
        <span class="decoration">—</span>
        <p class="text">
          Ты узнаешь о всемогущей поисковой строке и как ею пользоваться при
          помощи лапок.
        </p>
      </li>
      <li class="item">
        <img src="./images/skills/devcat04.png" alt="" class="solving-img" />
        <h3 class="tittle">Быть самостоятельным</h3>
        <span class="decoration">—</span>
        <p class="text">
          Теперь тебе не придется копипастить чужой код. Ты сможешь сделать свой
          :)
        </p>
      </li>
      <li class="item">
        <img src="./images/skills/devcat05.png" alt="" class="solving-img" />
        <h3 class="tittle">Помогать другим</h3>
        <span class="decoration">—</span>
        <p class="text">Даже если самому совсем ничего непонятно.</p>
      </li>
      <li class="item">
        <img src="./images/skills/devcat11.png" alt="" class="solving-img" />
        <h3 class="tittle">Исправлять ошибки</h3>
        <span class="decoration">—</span>
        <p class="text">У тебя перестанет дергаться глаз от слова "error".</p>
      </li>
      <li class="item">
        <img src="./images/skills/devcat08.png" alt="" class="solving-img" />
        <h3 class="tittle">Быть уверенным в своих силах</h3>
        <span class="decoration">—</span>
        <p class="text">
          Если ты разобрался с абсолютным позиционированием, тебе под силу любая
          задача.
        </p>
      </li>
      <li class="item">
        <img src="./images/skills/devcat06.png" alt="" class="solving-img" />
        <h3 class="tittle">Работать 24/7</h3>
        <span class="decoration">—</span>
        <p class="text">Никакой крови. Только кофе, только хардкор.</p>
      </li>
      <li class="item">
        <img src="./images/skills/devcat12.png" alt="" class="solving-img" />
        <h3 class="tittle">Отдыхать</h3>
        <span class="decoration">—</span>
        <p class="text">
          Шутка. Которазработчики не знают, что такое "отдыхать".
        </p>
      </li>
    </ul>
  </div>
</section>
