<section class="section-solving">
  <div class="container">
    <h2 class="tittle" id="solving">Навыки</h2>
    <p class="solving-label">Мы расскажем тебе как:</p>
    <ul class="solving-list list">
      <li class="item">
        <img src="./images/skills/devcat07.png" alt="" class="solving-img" />
        <h3 class="tittle">Видеть различия</h3>
        <span class="decoration">—</span>
        <p class="text">Ты будешь отличать 1рх от 1.35рх с одного взгляда.</p>
      </li>
      <li class="item">
        <img src="./images/skills/devcat09.png" alt="" class="solving-img" />
        <h3 class="tittle">Делать магию</h3>
        <span class="decoration">—</span>
        <p class="text">
          Твоим умениям делать переходы и анимации позавидует любой котик.
        </p>
      </li>
      <li class="item">
        <img src="./images/skills/devcat03.png" alt="" class="solving-img" />
        <h3 class="tittle">Искать решения</h3>
        <span class="decoration">—</span>
        <p class="text">
          Ты узнаешь о всемогущей поисковой строке и как ею пользоваться при
          помощи лапок.
        </p>
      </li>
      <li class="item">
        <img src="./images/skills/devcat04.png" alt="" class="solving-img" />
        <h3 class="tittle">Быть самостоятельным</h3>
        <span class="decoration">—</span>
        <p class="text">
          Теперь тебе не придется копипастить чужой код. Ты сможешь сделать свой
          :)
        </p>
      </li>
      <li class="item">
        <img src="./images/skills/devcat05.png" alt="" class="solving-img" />
        <h3 class="tittle"></h3>
        <span class="decoration">—</span>
        <p class="text">
          Тебе не нужно тратить время на самостоятельный поиск материала и
          ничего покупать дополнительно. Мы составили 2 пособия для тебя.
        </p>
      </li>
      <li class="item">
        <img src="./images/skills/devcat11.png" alt="" class="solving-img" />
        <h3 class="tittle">Умение воспринимать устную английскую речь</h3>
        <span class="decoration">—</span>
        <p class="text">
          “F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и
          разбирать аудиозаписи в соответствии с изучаемой лексикой.
        </p>
      </li>
      <li class="item">
        <img src="./images/skills/devcat08.png" alt="" class="solving-img" />
        <h3 class="tittle">Быть уверенным в своих силах</h3>
        <span class="decoration">—</span>
        <p class="text"></p>
      </li>
      <li class="item">
        <img src="./images/skills/devcat06.png" alt="" class="solving-img" />
        <h3 class="tittle">Видеть различия</h3>
        <span class="decoration">—</span>
        <p class="text">Ты будешь отличать 1рх от 1.35рх с одного взгляда.</p>
      </li>
      <li class="item">
        <img src="./images/skills/devcat12.png" alt="" class="solving-img" />
        <h3 class="tittle">Видеть различия</h3>
        <span class="decoration">—</span>
        <p class="text">Ты будешь отличать 1рх от 1.35рх с одного взгляда.</p>
      </li>
    </ul>
  </div>
</section>
