<section class="section-solving">
  <div class="container">
    <h2 class="tittle" id="solving">Как мы это делаем</h2>
    <ul class="solving-list list">
      <li class="item">
        <svg width="45px" height="48px" aria-label="страница" class="icon">
          <use href="./images/icons/symbol-defs.svg#solving1"></use>
        </svg>
        <h3 class="tittle">Адаптированная программа подготовки к ВНО</h3>
        <span class="decoration">—</span>
        <p class="text">
          Ты будешь изучать грамматику и лексику одновременно. И ты научишься
          писать сочинения.
        </p>
      </li>
      <li class="item">
        <svg
          width="48px"
          height="47px"
          aria-label="шляпа выпускника и смартфон"
          class="icon"
        >
          <use href="./images/icons/symbol-defs.svg#solving2"></use>
        </svg>
        <h3 class="tittle">
          Аудитория и <span class="text-fix">онлайн-обучение</span>
        </h3>
        <span class="decoration">—</span>
        <p class="text">
          Учитель поможет не только в аудитории, но и во время домашней
          подготовки. Родители могут участвовать в чате при желании.
        </p>
      </li>
      <li class="item">
        <svg
          width="68px"
          height="48px"
          aria-label="открытая книга"
          class="icon"
        >
          <use href="./images/icons/symbol-defs.svg#solving3"></use>
        </svg>
        <h3 class="tittle">Привычка читать на английском языке</h3>
        <span class="decoration">—</span>
        <p class="text">
          Статьи из источников, которые используются при разработке настоящего
          ВНО, будут приходить
          <span class="text-fix">на телефон дважды в неделю.</span>
        </p>
      </li>
      <li class="item">
        <svg width="48px" height="48px" aria-label="три человека" class="icon">
          <use href="./images/icons/symbol-defs.svg#solving4"></use>
        </svg>
        <h3 class="tittle">
          Психологическая <span class="text-fix">поддержка</span>
        </h3>
        <span class="decoration">—</span>
        <p class="text">
          Мы научим тебя методикам прохождения тестирований, умению планировать
          свою подготовку уверенности в себе.
        </p>
      </li>
      <li class="item">
        <svg width="40px" height="48px" aria-label="человек" class="icon">
          <use href="./images/icons/symbol-defs.svg#solving5"></use>
        </svg>
        <h3 class="tittle">
          Обучение по авторским <span class="text-fix">пособиям</span>
        </h3>
        <span class="decoration">—</span>
        <p class="text">
          Тебе не нужно тратить время на самостоятельный поиск материала и
          ничего покупать дополнительно. Мы составили 2 пособия для тебя.
        </p>
      </li>
      <li class="item">
        <svg
          width="57px"
          height="48px"
          aria-label="наушники и книга"
          class="icon"
        >
          <use href="./images/icons/symbol-defs.svg#solving6"></use>
        </svg>
        <h3 class="tittle">Умение воспринимать устную английскую речь</h3>
        <span class="decoration">—</span>
        <p class="text">
          “F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и
          разбирать аудиозаписи в соответствии с изучаемой лексикой.
        </p>
      </li>
    </ul>
  </div>
</section>
