<section class="teacher">
  <div class="container">
    <h2 class="teacher-title" id="teacher-sec">Doctor Code</h2>
    <div class="teacher-tab">
      <img
        src="./images/teacher-images/desktop/drcode.jpg"
        alt="Ментор года"
        class="teacher-img"
      />

      <div class="teacher-about">
        <h3 class="teacher-name">Andrii Danylko</h3>
        <ul class="teacher-list">
          <li class="teacher-item">
            <p class="item-text">Web-дизайн</p>
          </li>
          <li class="teacher-item">
            <p class="item-text">
              Верстка и Frontend (HTML, CSS, JavaScript адаптивность,
              отзывчивость)
            </p>
          </li>
          <li class="teacher-item">
            <p class="item-text">
              Интеграция (CMS WordPress / MODx / Opencart / Joomla)
            </p>
          </li>
        </ul>
        <span>—</span>
      </div>
      <div class="education">
        <p>
          О себе я могу написать только хорошее :) Я обычный человек, который
          живет в красивом городе и делает свою работу так же красиво. Я
          занимаюсь разработкой сайтов почти год. Да, не пять, не десять лет, но
          зато я креативный, энергичный, внимательный и ответственный за то, что
          делаю.
        </p>
        <p>
          Что я умею: Landing Page, Сайт под ключ, Вэб-дизайн, Верстка по
          макету, Frontend, Интеграция сайта
        </p>
        <p>Я люблю свою роботу и делаю её хорошо!</p>
        <span>Приходи ко мне на </span
        ><a href="https://goit.ua/" class="univer"> КУРСЫ GOIT</a>
      </div>
    </div>
  </div>
</section>
