.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-style: normal;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
// Registration
.footer .registration {
  max-width: 100%;
  padding: 50px 0px;
  color: $white-color;
  background-color: $primary-color;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    padding: 71px 0px;
  }
  @media screen and (min-width: 1344px) {
    padding: 62px 0px;
  }
}
.registration-container {
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (min-width: 1344px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.footer {
  &-title > h2 {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.36;
    vertical-align: top;
    letter-spacing: 0.03em;
    @media screen and (min-width: 576px) and (max-width: 767px) {
      font-size: 20px;
      max-width: 500px;
    }
    @media screen and (min-width: 768px) {
      line-height: 1.3;
      letter-spacing: 0.03em;
    }
    @media screen and (min-width: 768px) and (max-width: 1343px) {
      max-width: 688px;
      font-size: 26px;
      line-height: 1.3;
      letter-spacing: 0.03em;
    }
    @media screen and (min-width: 1344px) {
      max-width: 1090px;
      font-size: 46px;
    }
  }
  &-accent {
    color: $accent-color;
  }
}
.footer-text {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  @media screen and (min-width: 576px) and (max-width: 767px) {
    padding: 0px 30px;
    font-size: 13px;
  }
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.21;
  }
  @media screen and (min-width: 1344px) {
    margin-bottom: 56px;
    font-size: 30px;
    line-height: 1.23;
  }
}
// Form
.footer-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  @media screen and (min-width: 1344px) {
    margin-top: 50px;
  }
}
.form-field {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 319px) {
    max-width: 280px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    width: 390px;
  }
  @media screen and (min-width: 1344px) {
    max-width: 478px;
  }
}
.form-field.name {
  margin-bottom: 20px;
  @media screen and (min-width: 1344px) {
    margin-bottom: 30px;
  }
}
.footer .modal-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 28px 16px 28px;
  background-color: transparent;
  border: 1px solid $white-color;
  box-sizing: border-box;
  color: $white-color;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  cursor: pointer;
  &::placeholder {
    color: $white-color;
  }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    font-size: 13px;
  }
  @media screen and (max-width: 767px) {
    height: 48px;
    max-width: 390px;
  }
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    width: 390px;
    height: 48px;
  }
  @media screen and (min-width: 1344px) {
    width: 478px;
    height: 70px;
    padding: 23px 40px;
    font-size: 20px;
  }
  &:focus {
    border: 1px solid $accent-color;
    outline: 2px solid $accent-color;
  }
}
.footer-button {
  display: inline-block;
  align-items: center;
  margin-top: 50px;
  color: $white-color;
  background-color: $accent-color;
  border: 2px solid $accent-color;
  text-align: center;
  transition: 250ms cubic-bezier(0.42, 0, 0.58, 1);
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    margin-top: 31px;
  }
  @media screen and (min-width: 1343px) {
    margin-top: 80px;
  }
  &:hover,
  &:focus {
    background-color: $white-color;
    color: $accent-color;
  }
}

// Contacts
.footer .contacts {
  display: flex;
  text-align: center;
  @media screen and (max-width: 767px) {
    // height: 150px;
    padding: 30px 0px;
    align-content: center;
    flex-direction: column;
    justify-content: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    padding: 43px 40px;
    flex-direction: row;
    justify-content: space-between;

    justify-content: baseline;
  }
  @media screen and (min-width: 1344px) {
    width: 1344px;
    padding: 56px 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
  }
}
.footer-logo {
  @media screen and (max-width: 767px) {
    width: 84px;
    height: 30px;
  }
  @media screen and (min-width: 768px) {
    width: 128px;
    height: 45px;
  }
}
.footer-logo-position {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1344px) {
    margin-right: 290px;
  }
}
.footer-links {
  align-items: center;
  text-align: center;
  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    margin-top: 21px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.tel.link {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: $primary-color;
  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    height: 40px;
    padding-right: 24px;
    margin-right: 24px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    border-right: 1px solid $secondary-text-color;
  }
  @media screen and (min-width: 1344px) {
    height: 40px;
    padding-right: 24px;
    margin-right: 24px;
    align-items: center;
    text-align: center;
    font-size: 30px;
    line-height: 1.23;
    border-right: 1px solid $secondary-text-color;
  }
  transition: 250ms cubic-bezier(0.42, 0, 0.58, 1);
  &:hover,
  &:focus {
    fill: $primary-color;
    color: $accent-color;
  }
}
.tel.link .icon {
  fill: $accent-color;
  margin-right: 10px;
  height: 21px;
  width: 23px;
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    width: 27px;
    height: 26.06px;
  }
  @media screen and (min-width: 1344px) {
    width: 38px;
    height: 36.82px;
    margin-right: 15px;
  }
}
.insta {
  &.link {
    content: ' ';
    display: block;
    background-image: url('../images/footer-images/instagram.svg');
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    @media screen and (max-width: 767px) {
      margin-top: 31px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
// Rights
.rights {
  padding: 21px 0;
  background-color: $primary-color;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 1344px) {
    padding: 22px 0;
  }
}

.copyright-cont {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
.rights-text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: $secondary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
}

.copyright {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
}

// Background-image
@media screen and (max-width: 767px) {
  .footer .registration {
    background-image: url('../images/footer-images/footer-bg-mobile-1x-min.png');
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/footer-images/footer-bg-mobile-1x-min.png');
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .footer .registration {
    background-image: url('../images/footer-images/footer-bg-tablet-1x.webp');
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/footer-images/footer-bg-tablet-2x.webp');
    }
  }
}
@media screen and (min-width: 1344px) {
  .footer .registration {
    background-image: url('../images/footer-images/footer-bg-desktop-1x.webp');
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/footer-images/footer-bg-desktop-2x.webp');
    }
  }
}
@media screen and (max-width: 767px) {
  .footer .registration {
    background-image: url('../images/footer-images/footer-bg-mobile-1x-min.png');
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/footer-images/footer-bg-mobile-2x-min.png');
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .footer .registration {
    background-image: url('../images/footer-images/footer-bg-tablet-1x-min.png');
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/footer-images/footer-bg-tablet-2x-min.png');
    }
  }
}
@media screen and (min-width: 1344px) {
  .footer .registration {
    background-image: url('../images/footer-images/footer-bg-desktop-1x-min.png');
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/footer-images/footer-bg-desktop-2x-min.png');
    }
  }
}
