.guaranties-section-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  font-size: 26px;
  font-weight: 800;
  line-height: 1.308;
  letter-spacing: 0.03em;
  color: $primary-color;

  @media screen and (min-width: 1344px) {
    font-size: 46px;
    line-height: 1.3;
  }
}

.guaranties-wrap {
  padding-top: 30px;
  padding-bottom: 31px;

  @media screen and (min-width: 576px) and (max-width: 767px) {
    padding: 35px 40px 35px 48px;
  }
  @media screen and (max-width: 767px) {
    background-color: #f1f1f1;
  }

  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.guaranties-list {
  margin: 0 auto;
  list-style: none;
  position: relative;

  @media screen and (max-width: 767px) {
    padding: 0;
  }
  @media screen and (min-width: 768px) {
    background-color: #f1f1f1;
    padding: 30px 50px 30px 79px;
  }

  @media screen and (min-width: 1344px) {
    background-color: #f1f1f1;
    padding: 50px 112px 45px 112px;
  }
}

.guaranties-item:not(:last-child)::after {
  z-index: 1;
  position: absolute;
  content: '';
  border-left: 1px dashed $secondary-text-color;
  height: 90%;
  top: 24px;
  left: 3.5px;

  @media screen and (min-width: 768px) {
    top: 21px;
  }

  @media screen and (min-width: 1344px) {
    top: 27px;
    left: 6.5px;
    height: 70%;
  }
}

.guaranties-item {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.667;
  position: relative;
  padding-left: 28px;
  letter-spacing: 0.02em;
  color: $third-text-color;

  @media screen and (min-width: 1344px) {
    font-size: 20px;
    line-height: 1.4;
    padding-left: 50px;
  }

  &:not(:last-child) {
    margin-bottom: 23px;
    @media screen and (min-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &::before {
    z-index: 2;
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    left: -11px;
    top: -6.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/icons/fire.svg);

    @media screen and (min-width: 1344px) {
      width: 30px;
      height: 30px;
      background-size: contain;
      top: -6.5px;
      left: -8px;
    }
  }
}

.guaranties-item {
  @media screen and (min-width: 767px) {
    letter-spacing: 0.01em;
  }
}

.guaranties-asterisk,
.guaranties.accent-element {
  color: $accent-color;
}
