.section-solving {
  padding-top: 210px;
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    padding-top: 240px;
  }

  @media screen and (min-width: 1344px) {
    padding-top: 260px;
    padding-bottom: 130px;
  }

  .tittle {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;

    text-align: center;
    letter-spacing: 0.03em;

    color: $primary-color;

    @media screen and (min-width: 768px) {
      font-size: 26px;
    }

    @media screen and (min-width: 1344px) {
      text-align: start;

      margin-bottom: 50px;

      font-weight: 800;
      font-size: 46px;
      line-height: 1.3;
    }
  }
}

.solving-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1344px) {
    margin: -10px;
  }
  .item {
    width: 100%;
    height: 280px;

    padding-top: 30px;

    color: $accent-color;
    background-color: $white-color;

    text-align: center;

    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);

    transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);

    @media screen and (min-width: 768px) and (max-width: 1343px) {
      width: calc(50% - 10px);
      height: 334px;

      padding-top: 40px;

      &:nth-child(odd) {
        margin-right: 20px;
      }

      &:nth-child(-n + 4) {
        margin-bottom: 27px;
      }
    }

    @media screen and (min-width: 1344px) {
      width: calc(33.333% - 20px);
      height: 396px;

      margin: 10px;

      padding-top: 40px;
    }

    @media screen and (max-width: 767px) {
      & + .item {
        margin-top: 15px;
      }
    }

    &:hover {
      background-color: $accent-color;
      color: $white-color;

      .tittle {
        color: $white-color;
      }

      .decoration {
        color: $white-color;
      }

      .text {
        color: $white-color;
      }
    }
  }

  .icon {
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    fill: currentColor;

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }
  }

  .tittle {
    margin: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;

    letter-spacing: 0.08em;

    color: $primary-color;

    transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);

    @media screen and (max-width: 319px) {
      font-size: 13px;
    }

    @media screen and (min-width: 576px) and (max-width: 767px) {
      display: block;

      margin: 0px auto;

      width: 50%;
    }

    @media screen and (min-width: 1344px) {
      padding-left: 30px;
      padding-right: 30px;

      font-weight: 700;
      font-size: 20px;
      line-height: 1.4;
      text-align: center;
    }
  }

  .decoration {
    display: block;

    height: 32px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.65;

    letter-spacing: 0.08em;

    color: $accent-color;

    transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);

    @media screen and (min-width: 768px) and (max-width: 1343px) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .text {
    margin: 0;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;

    letter-spacing: 0.08em;

    color: $secondary-text-color;

    transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);

    @media screen and (max-width: 319px) {
      font-size: 11px;
    }

    @media screen and (min-width: 576px) and (max-width: 767px) {
      padding: 0px 20px;
    }

    @media screen and (min-width: 768px) {
      padding-right: 20px;
      padding-left: 20px;
    }

    @media screen and (min-width: 1344px) {
      padding-right: 30px;
      padding-left: 30px;

      font-weight: 500;
      font-size: 18px;
      line-height: 1.56;
      text-align: center;
    }
  }

  .text-fix {
    display: block;
  }
}
