.teacher {
  padding-top: 270px;
  padding-bottom: 50px;

  & p {
    margin: 0px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 302px;
  }

  @media screen and (min-width: 1344px) {
    padding-top: 329px;
    padding-bottom: 98px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .teacher-tab {
    display: flex;
    flex-wrap: wrap;
  }
  .teacher-about {
    margin-left: auto;
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .teacher-tab {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .teacher-about {
    margin-left: 40px;
    width: calc(100% - 286px);
  }
}

@media screen and (min-width: 1344px) {
  .teacher-about {
    margin-left: 30px;
    width: calc(50% - 15px);
  }
}

.teacher-about span {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.65;
  letter-spacing: 0.08em;
  color: $accent-color;

  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }

  @media screen and (min-width: 1344px) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.teacher-title,
.teacher-name {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: $primary-color;

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1344px) {
    margin-bottom: 50px;
    font-size: 46px;
  }
}

.teacher-name {
  margin-top: 20.42px;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    margin-top: 0px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
  }

  @media screen and (min-width: 1344px) {
    margin-bottom: 15px;
    font-size: 30px;
  }
}

.teacher-list {
  margin: 0px;
  padding-top: 20px;
  padding-left: 0px;
  border-top: 1px solid $secondary-text-color;
  list-style: none;

  @media screen and (min-width: 1344px) {
    padding-top: 30px;
  }
}

.teacher-item {
  position: relative;
  padding-left: 27px;

  & + .teacher-item {
    margin-top: 21px;

    @media screen and (min-width: 768px) {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 1344px) {
    padding-left: 59px;
  }
}

.teacher-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../images/icons/check.svg);

  @media screen and (min-width: 1344px) {
    width: 24.41px;
    height: 20px;
  }
}

.item-text {
  position: relative;
  margin: 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
  color: $primary-color;

  @media screen and (min-width: 576px) and (max-width: 767px) {
    font-size: 15px;
  }

  @media screen and (min-width: 1344px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.education {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.06em;
  color: $secondary-text-color;

  & p + p {
    margin-top: 21px;
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    font-size: 13px;
  }

  @media screen and (min-width: 768px) {
    margin-top: -53px;
    margin-left: auto;
    width: calc(100% - 286px);
    letter-spacing: 0em;
  }

  @media screen and (min-width: 1344px) {
    margin-left: auto;
    margin-right: 112px;
    margin-top: -364px;
    width: calc(50% - 15px);
    font-size: 18px;
    line-height: 1.56;
  }
}

.univer {
  display: inline-block;
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-decoration: underline;
  color: $accent-color;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  @media screen and (min-width: 1344px) {
    font-size: 18px;
    line-height: 1.56;
    margin-top: 20px;
  }
}
